In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("http://bilkav.com/veriler.csv")

In [3]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [4]:
df_ulke = df.iloc[:,0:1].values
df_ulke_ohe = ohe.fit_transform(df_ulke).toarray()
df_ulke = pd.DataFrame(data=df_ulke_ohe, index=range(len(df_ulke_ohe)), columns=["FR","TR","USA"])

In [5]:
df_cinsiyet_ohe = ohe.fit_transform(df.iloc[:,4:5].values).toarray()

In [6]:
df_cinsiyet = pd.DataFrame(data=df_cinsiyet_ohe[:,0:1], index=range(len(df_cinsiyet_ohe)), columns=["CINSIYET"])
df_boy = pd.DataFrame(data=df.iloc[:,1:2].values, index=range(len(df.iloc[:,1:2].values)), columns=["BOY"])
df_kilo = pd.DataFrame(data=df.iloc[:,2:3].values, index=range(len(df.iloc[:,2:3].values)), columns=["KILO"])
df_yas = pd.DataFrame(data=df.iloc[:,3:4].values, index=range(len(df.iloc[:,3:4].values)), columns=["YAS"])

In [7]:
df = pd.concat([df_ulke, df_boy, df_kilo, df_yas], axis=1)
df_all = pd.concat([df_ulke, df_boy, df_kilo, df_yas, df_cinsiyet], axis=1)

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, df_cinsiyet, test_size=0.33, random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()

In [10]:
regression.fit(x_train, y_train)

LinearRegression()

In [11]:
y_pred = regression.predict(x_test)

In [12]:
y_pred

array([[ 0.98720204],
       [-0.12036863],
       [ 0.05009703],
       [ 0.07137418],
       [ 0.72473935],
       [ 0.64615044],
       [-0.03567453],
       [ 0.32612171]])

In [13]:
y_test

    CINSIYET
20       0.0
10       0.0
14       0.0
13       0.0
1        1.0
21       0.0
11       0.0
19       0.0

In [14]:
df = pd.concat([df_ulke, df_kilo, df_yas, df_cinsiyet], axis=1)

In [15]:
x_train, x_test, y_train, y_test = train_test_split(df, df_boy, test_size=0.33, random_state=0)

In [16]:
regression.fit(x_train, y_train)

LinearRegression()

In [17]:
y_pred = regression.predict(x_test)
y_pred

array([[182.26638686],
       [152.87161474],
       [162.79386375],
       [158.30668577],
       [130.82888952],
       [173.96138408],
       [150.12782663],
       [157.26898922]])

In [18]:
y_test

    BOY
20  164
10  165
14  167
13  162
1   125
21  166
11  155
19  159

In [19]:
import statsmodels.api as sm

In [22]:
X = np.append(arr=np.ones((22,1)).astype(int), values=df_all, axis=1)

In [23]:
X

array([[  1.,   0.,   1.,   0., 130.,  30.,  10.,   1.],
       [  1.,   0.,   1.,   0., 125.,  36.,  11.,   1.],
       [  1.,   0.,   1.,   0., 135.,  34.,  10.,   0.],
       [  1.,   0.,   1.,   0., 133.,  30.,   9.,   0.],
       [  1.,   0.,   1.,   0., 129.,  38.,  12.,   1.],
       [  1.,   0.,   1.,   0., 180.,  90.,  30.,   1.],
       [  1.,   0.,   1.,   0., 190.,  80.,  25.,   1.],
       [  1.,   0.,   1.,   0., 175.,  90.,  35.,   1.],
       [  1.,   0.,   1.,   0., 177.,  60.,  22.,   0.],
       [  1.,   0.,   0.,   1., 185., 105.,  33.,   1.],
       [  1.,   0.,   0.,   1., 165.,  55.,  27.,   0.],
       [  1.,   0.,   0.,   1., 155.,  50.,  44.,   0.],
       [  1.,   0.,   0.,   1., 160.,  58.,  39.,   0.],
       [  1.,   0.,   0.,   1., 162.,  59.,  41.,   0.],
       [  1.,   0.,   0.,   1., 167.,  62.,  55.,   0.],
       [  1.,   1.,   0.,   0., 174.,  70.,  47.,   1.],
       [  1.,   1.,   0.,   0., 193.,  90.,  23.,   1.],
       [  1.,   1.,   0.,   0., 187.,  80.,  27.,   1.],
       [  1.,   1.,   0.,   0., 183.,  88.,  28.,   1.],
       [  1.,   1.,   0.,   0., 159.,  40.,  29.,   0.],
       [  1.,   1.,   0.,   0., 164.,  66.,  32.,   0.],
       [  1.,   1.,   0.,   0., 166.,  56.,  42.,   0.]])

In [27]:
X_l = df.iloc[:,[0,1,2,3,4,5]].values
X_l = np.array(X_l, dtype=float)
X_l

array([[  0.,   1.,   0.,  30.,  10.,   1.],
       [  0.,   1.,   0.,  36.,  11.,   1.],
       [  0.,   1.,   0.,  34.,  10.,   0.],
       [  0.,   1.,   0.,  30.,   9.,   0.],
       [  0.,   1.,   0.,  38.,  12.,   1.],
       [  0.,   1.,   0.,  90.,  30.,   1.],
       [  0.,   1.,   0.,  80.,  25.,   1.],
       [  0.,   1.,   0.,  90.,  35.,   1.],
       [  0.,   1.,   0.,  60.,  22.,   0.],
       [  0.,   0.,   1., 105.,  33.,   1.],
       [  0.,   0.,   1.,  55.,  27.,   0.],
       [  0.,   0.,   1.,  50.,  44.,   0.],
       [  0.,   0.,   1.,  58.,  39.,   0.],
       [  0.,   0.,   1.,  59.,  41.,   0.],
       [  0.,   0.,   1.,  62.,  55.,   0.],
       [  1.,   0.,   0.,  70.,  47.,   1.],
       [  1.,   0.,   0.,  90.,  23.,   1.],
       [  1.,   0.,   0.,  80.,  27.,   1.],
       [  1.,   0.,   0.,  88.,  28.,   1.],
       [  1.,   0.,   0.,  40.,  29.,   0.],
       [  1.,   0.,   0.,  66.,  32.,   0.],
       [  1.,   0.,   0.,  56.,  42.,   0.]])

In [32]:
model = sm.OLS(df_boy, X_l).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    BOY   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     24.69
Date:                Mon, 06 Mar 2023   Prob (F-statistic):           5.41e-07
Time:                        00:57:30   Log-Likelihood:                -73.950
No. Observations:                  22   AIC:                             159.9
Df Residuals:                      16   BIC:                             166.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           114.0688      8.145     14.005      0.000      96.802     131.335
x2           108.3030      5.736     18.880      0.000      96.143     120.463
x3           104.4714      9.195     11.361      0.000      84.978     123.964
x4             0.9211      0.119      7.737      0.000       0.669       1.174
x5             0.0814      0.221      0.369      0.717      -0.386       0.549
x6           -10.5980      5.052     -2.098      0.052     -21.308       0.112
==============================================================================
Omnibus:                        1.031   Durbin-Watson:                   2.759
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.624
Skew:                           0.407   Prob(JB):                        0.732
Kurtosis:                       2.863   Cond. No.                         524.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [33]:
X_l = df.iloc[:,[0,1,2,3,5]].values
X_l = np.array(X_l, dtype=float)
model = sm.OLS(df_boy, X_l).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    BOY   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Mon, 06 Mar 2023   Prob (F-statistic):           9.32e-08
Time:                        00:58:28   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           115.6583      6.734     17.175      0.000     101.451     129.866
x2           109.0786      5.200     20.978      0.000      98.108     120.049
x3           106.5445      7.090     15.026      0.000      91.585     121.504
x4             0.9405      0.104      9.029      0.000       0.721       1.160
x5           -11.1093      4.733     -2.347      0.031     -21.096      -1.123
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         397.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [34]:
X_l = df.iloc[:,[0,1,2,3]].values
X_l = np.array(X_l, dtype=float)
model = sm.OLS(df_boy, X_l).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    BOY   R-squared:                       0.847
Model:                            OLS   Adj. R-squared:                  0.821
Method:                 Least Squares   F-statistic:                     33.16
Date:                Mon, 06 Mar 2023   Prob (F-statistic):           1.52e-07
Time:                        00:58:53   Log-Likelihood:                -77.131
No. Observations:                  22   AIC:                             162.3
Df Residuals:                      18   BIC:                             166.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           119.8136      7.265     16.491      0.000     104.550     135.077
x2           109.8084      5.804     18.919      0.000      97.615     122.002
x3           114.4212      6.984     16.382      0.000      99.747     129.095
x4             0.7904      0.092      8.595      0.000       0.597       0.984
==============================================================================
Omnibus:                        2.925   Durbin-Watson:                   2.855
Prob(Omnibus):                  0.232   Jarque-Bera (JB):                1.499
Skew:                           0.605   Prob(JB):                        0.473
Kurtosis:                       3.416   Cond. No.                         369.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.