In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
df = pd.read_csv("http://bilkav.com/maaslar.csv")
df

              unvan  Egitim Seviyesi   maas
0             Cayci                1   2250
1          Sekreter                2   2500
2  Uzman Yardimcisi                3   3000
3             Uzman                4   4000
4  Proje Yoneticisi                5   5500
5               Sef                6   7500
6             Mudur                7  10000
7          Direktor                8  15000
8           C-level                9  25000
9               CEO               10  50000

In [26]:
x = df.iloc[:,1:2]
y = df.iloc[:,2:3]

X = x.values
Y = y.values

In [36]:
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(random_state=0, n_estimators = 50)

rf_reg.fit(X,Y.ravel())

RandomForestRegressor(n_estimators=50, random_state=0)

In [37]:
from sklearn.metrics import r2_score
print(f"Random Forest R2 değeri: {r2_score(Y, rf_reg.predict(X))}")

Random Forest R2 değeri: 0.9564799890903117