In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("veriler.csv")[['boy','kilo','yas','cinsiyet']]
df.head()

   boy  kilo   yas cinsiyet
0  130    30  10.0        e
1  125    36  11.0        e
2  135    34  10.0        k
3  133    30   9.0        k
4  129    38  12.0        e

In [7]:
x = df.iloc[:,:3].values
y = df.iloc[:,3:4].values

In [8]:
from sklearn.model_selection import train_test_splitin_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.fit_transform(x_test)