In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("veriler.csv")[['boy','kilo','yas','cinsiyet']]
df

    boy  kilo    yas cinsiyet
0   130    30  10.00        e
1   125    36  11.00        e
2   135    34  10.00        k
3   133    30   9.00        k
4   129    38  12.00        e
5   180    90  30.00        e
6   190    80  25.00        e
7   175    90  35.00        e
8   177    60  22.00        k
9   185   105  33.00        e
10  165    55  27.00        k
11  155    50  44.00        k
12  160    58  28.45        k
13  162    59  41.00        k
14  167    62  55.00        k
15  174    70  47.00        e
16  193    90  28.45        e
17  187    80  27.00        e
18  183    88  28.00        e
19  159    40  29.00        k
20  164    66  32.00        k
21  166    56  42.00        k

In [3]:
y = df.iloc[:,3:4].values
x = df.iloc[:,0:3].values

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.33, random_state=0)

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.fit_transform(x_test)

In [16]:
from sklearn.svm import SVC
svc = SVC(kernel='poly', degree=3)
svc.fit(X_train,y_train)
Y_pred = svc.predict(X_test)
print(f'{y_test.ravel()}\n{Y_pred}')

['k' 'k' 'k' 'k' 'e' 'k' 'k' 'k']
['e' 'e' 'e' 'e' 'k' 'e' 'e' 'e']

C:\ProgramData\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)